*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

@media (max-width: 1440px){

body{
	background-color: hsl(0, 100%, 74%);
	background-image: url("images/bg-intro-desktop.png");

}
main{
	display: flex;
	margin: auto;
	padding: 50px;
	align-content: center;
	justify-content: center;
}
.top-content{
	margin: 10px;
	padding: 10px;
	align-content: center;
	justify-content: center;
	width: 40%;
	position: relative;
	top: 25vh;
	left: -20px;

}
.side-content{
	margin: 10px;
	padding: 10px;
	align-content: center;
	width: 43%;
	position: relative;
	top: 5vh;
	
}
small{
	font-size: 8px;
	margin: 10px 30px 10px 75px;
}
}

@media (max-width: 800px){
	body{
	
		background-image: url("images/bg-intro-mobile.png");
	}
	main{
		display: block;
		margin: auto;
		padding: 20px;
		align-content: center;
		justify-content: center;
	}
	.top-content{
	margin: 30px;
	padding: 10px;
	align-content: center;
	justify-content: center;
	width: 90%;
	top: 5vh;

}
.side-content{
	margin: 30px;
	padding: 10px;
	align-content: center;
	justify-content: center;
	width: 90%;

}
small{
	font-size: 8px;
	margin: 10px 30px 10px 55px;
}

}


h3{
	font-weight: 700;
	font-size: 35px;

}
.top-content p{
	font-weight: 400;
	font-size: 16px;

}

.top-button-bolden{
	color: white;
}
.top-button{
	width: 90%;
	height: 40px;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	background-color: hsl(248, 32%, 49%);
	border-radius: 5px;
	margin-bottom: 10px;
	
}

.top-button p{
	font-size: 10px;
 	justify-content: center;
 	margin-bottom: 20px;
}
h3{
	color: white;
}
p{
	color: hsla(0, 0%, 100%, 0.75);
}
.button{
  background-color: hsl(154, 59%, 51%);
  color: hsla(0, 0%, 100%, 0.75);
  width: 80%;
  height: 40px;
  margin: 10px 30px 10px 35px;
  padding: 15px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}
.form{
	background-color: white;
	width: 90%;
	height: 60vh;
	border-radius: 10px;
	padding-top: 20px;

}
input[type=text], input[type=email], input[type=password] {
  width: 80%;
  height: 40px;
  padding: 15px;
  margin: 10px 30px 10px 35px;
  display: inline-block;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;

}
input{
	margin-left: 40px;
}
input:hover {
	border: 1px solid black;
}

span{
	color:red ;
}
